include LICENSE.txt
include README.md
include dependencies
include configuration_default.yaml
recursive-include syllabus/static *
recursive-include syllabus/doc *
recursive-include syllabus/templates *
recursive-include syllabus/default *
recursive-include syllabus/admin *
recursive-include syllabus/models *
recursive-include syllabus/utils *
recursive-include syllabus/saml *
recursive-include syllabus/cheat_sheet *
