{% extends "admin_base.html" %}
{% block content %}

    <style>
        /* taken from https://jsfiddle.net/ann7tctp/ */

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group-item .chevron {
            margin-right: 5px;
        }
    </style>
    <section class="content-header">
        <h1>
            Content
            <small>Manage the syllabus pages and chapters</small>
            <button class="btn btn-sm btn-success new-chapter-button" style="margin-left: 15px"
                    data-toggle="modal" data-target="#modal-new-page"
                    data-containing-chapter="">
                <i class="fa fa-plus" style="padding-right: 5px"></i>
                <b>New top-level chapter</b>
            </button>
        </h1>
        <section class="content container-fluid">
            <div class="just-padding">

                <div class="list-group list-group-root well">
                    <a href="/index/{{ course_str }}?edit" class="list-group-item" data-target="#"
                       data-toggle="collapse" style="padding-left: 15px">
                        Syllabus index
                    </a>
                </div>

                <div class="list-group list-group-root well">

                    {% for content in TOC.get_top_level_content() recursive %}
                        {% if "Chapter" in content.__class__.__name__ %}
                            <div data-target="#{{ "%d%d" % (loop.depth0, loop.index) }}" class="list-group-item"
                                 data-toggle="collapse"
                                 style="cursor: pointer; padding-left: {{ loop.depth0*30 + 15 }}px">
                                <i class="chevron fa fa-chevron-down"></i>
                                {{ content.title }}
                                <span class="pull-right">
                                <a href="/syllabus/{{ course_str }}/{{ content.request_path }}?edit"
                                   target="_blank"
                                   class="btn btn-xs btn-default edit-button" style="margin-left: 5px">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-xs btn-default delete-button" style="margin-left: 5px;"
                                        data-toggle="modal" data-target="#modal-delete"
                                        data-content-path="{{ content.path }}">
                                    <i class="fa fa-trash-o" style=""></i>
                                </button>
                                </span>
                                    <button class="btn btn-xs btn-info new-page-button" style="margin-left: 15px;"
                                            data-toggle="modal" data-target="#modal-new"
                                            data-containing-chapter="{{ content.request_path }}">
                                        <i class="fa fa-plus" style="padding-right: 5px"></i> New Page
                                    </button>
                                    <button class="btn btn-xs btn-success new-chapter-button" style="margin-left: 15px;"
                                            data-toggle="modal" data-target="#modal-new"
                                            data-containing-chapter="{{ content.request_path }}">
                                        <i class="fa fa-plus" style="padding-right: 5px"></i> New Chapter
                                    </button>
                            </div>
                            <div class="list-group collapse in" id="{{ "%d%d" % (loop.depth0, loop.index) }}">
                                {{ loop(TOC.get_direct_content_of(content)) }}
                            </div>
                        {% else %}
                            <div style="padding-left: {{ loop.depth0*30 + 15 }}px" class="list-group-item">
                                {{ content.title }}
                                <span class="pull-right">
                                    <a class="btn btn-xs btn-default edit-button"
                                       href="/syllabus/{{ course_str }}/{{ content.request_path }}?edit"
                                       target="_blank"
                                       style="margin-left: 5px">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button class="btn btn-xs btn-default delete-button" style="margin-left: 5px;"
                                            data-toggle="modal" data-target="#modal-delete"
                                            data-content-path="{{ content.path }}">
                                        <i class="fa fa-trash-o" style=""></i>
                                    </button>
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>

            </div>
        </section>
    </section>


    <div id="modal-new" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a new <span id="to-create"></span></h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="filename">Filename</label>
                            <span class="input-group"><input type="text" id="filename" name="name" class="form-control">
                                <span class="input-group-addon" id="extension"></span>
                            </span>
                        </div>
                        <input type="text" id="containing-chapter" name="containing-chapter" hidden>
                        <input type="text" id="action" name="action" value="create_page" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="button-submit" type="submit" class="btn btn-info">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="modal-delete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete <span id="to-delete"></span></h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="checkbox" name="delete-files" style="margin-right: 5px"> Also delete the files related to this content on the
                        file system.
                        <input type="text" id="content-path" name="content-path" hidden>
                        <input type="text" id="action" name="action" value="delete_content" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="button-submit" type="submit" class="btn btn-danger">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('.list-group-item').click(function () {
                $('.chevron.fa', this)
                    .toggleClass('fa-chevron-right')
                    .toggleClass('fa-chevron-down');
            });

            var $modalNew = $('#modal-new');
            var $modalDelete = $('#modal-delete');

            // avoid the list group to collapse if the user clicked on the edit button
            $('.edit-button').click(function (e) {
                e.stopPropagation();
            });
            // avoid the list group to collapse if the user clicked on the edit button
            $('.new-page-button').click(function (e) {
                e.stopPropagation();

                $modalNew.find('#containing-chapter').val($(this).attr('data-containing-chapter'));
                $('#to-create').html('page');
                $('#extension').html('.rst');
                $('#action').val("create_page");
                $modalNew.modal('show');
            });

            // avoid the list group to collapse if the user clicked on the edit button
            $('.new-chapter-button').click(function (e) {
                e.stopPropagation();

                $modalNew.find('#containing-chapter').val($(this).attr('data-containing-chapter'));
                $('#to-create').html('chapter');
                $('#extension').html('');
                $('#action').val("create_chapter");
                $modalNew.modal('show');
            });

            $('.delete-button').click(function (e) {
                e.stopPropagation();

                $modalDelete.find('#content-path').val($(this).attr('data-content-path'));
                $('#action').val("delete-content");
                $modalDelete.modal('show');
            })
        });

    </script>
{% endblock %}
