{% extends "base.html" %}
{% block content %}

    <style>
        /* taken from https://jsfiddle.net/ann7tctp/ */
        .just-padding {
            padding: 15px;
        }

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > .list-group > .list-group-item {
            padding-left: 45px;
        }

        .list-group.list-group-root > .list-group > .list-group > .list-group-item {
            padding-left: 55px;
        }

        .list-group-item .fa {
            margin-right: 5px;
        }
    </style>

    <div class="just-padding">

        <div class="list-group list-group-root well">

            {% for content in TOC.get_top_level_content() recursive %}
                {% if "Chapter" in content.__class__.__name__ %}
                    <a href="#{{ "%d%d" % (loop.depth0, loop.index) }}" class="list-group-item" data-toggle="collapse">
                        <i class="fa fa-chevron-right"></i> {{ content.title }}
                    </a>
                    <div class="list-group collapse" id="{{ "%d%d" % (loop.depth0, loop.index) }}">
                        {{ loop(TOC.get_direct_content_of(content)) }}
                    </div>
                {% else %}
                    <a href="/syllabus/{{ content.request_path }}?edit" class="list-group-item" data-target="#" data-toggle="collapse">
                        {{ content.title }}
                    </a>
                {% endif %}
            {% endfor %}


        </div>

    </div>

    <script>

        $(document).ready(function () {
            $('.list-group-item').click(function () {
                $('.fa', this)
                    .toggleClass('fa-chevron-right')
                    .toggleClass('fa-chevron-down');
             })

        });
    </script>
{% endblock %}