{% extends "admin_base.html" %}
{% block content %}
    <section class="content-header">
        <h1>
            Users
            <small>Manage the users</small>
        </h1>
        <section class="content container-fluid">
            <div class="box">
                <div class="box-body">
                    <table id="table" class="table table-hover table-bordered" cellspacing="0" width="100%"
                           data-page-length='25'>
                        <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Full Name</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>E-mail</th>
                            <th>Full Name</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for u in users %}
                            <tr data-email="{{ u.email }}">
                                <td>{{ u.email }}</td>
                                <td>{{ u.full_name if u.full_name is not none else "-" }}</td>
                                <td>
                                    {% if u.admin %}
                                        <span class="label label-success">Admin</span>
                                    {% elif u.teacher %}
                                        <span class="label label-info">Teacher</span>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                {% if u.email != session["user"]["email"]  %}
                                    {% if u.admin %}
                                        <button class="btn btn-xs btn-danger remove-admin-rights-button" data-toggle="modal" data-target="#modal-set-rights" data-email="{{ u.email }}"> <i class="fa fa-times" style="margin-right: 5px"></i> Remove admin rights</button>
                                    {% else %}
                                        <button class="btn btn-xs btn-danger set-admin-rights-button" data-toggle="modal" data-target="#modal-set-rights" data-email="{{ u.email }}"> <i class="fa fa-check" style="margin-right: 5px"></i> Set admin rights </button>
                                    {% endif %}

                                    {% if u.at_least_teacher %}
                                        <button class="btn btn-xs btn-danger remove-all-rights-button" data-toggle="modal" data-target="#modal-set-rights" data-email="{{ u.email }}"> <i class="fa fa-times" style="margin-right: 5px"></i> Remove all rights</button>
                                    {%  else %}
                                        <button class="btn btn-xs btn-danger set-teacher-rights-button" data-toggle="modal" data-target="#modal-set-rights" data-email="{{ u.email }}"> <i class="fa fa-check" style="margin-right: 5px"></i> Set teacher rights </button>
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </section>


    <div id="modal-set-rights" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Set <span class="right-modal-text"></span> rights to <span class="email"></span></h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        Are you sure you want to set <span class="right-modal-text"></span> rights to user <span class="email"></span> ?
                        <input type="text" id="set-rights-rights" name="rights" value="" hidden>
                        <input type="text" name="action" value="change_right" hidden>
                        <input type="text" id="set-rights-email" name="email" hidden>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="button-submit" type="submit" class="btn btn-danger">Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script defer>
        $(document).ready(function () {
            $('#table').DataTable();
        });

        $modalSetRights = $('#modal-set-rights');
        $modalRemoveRights = $('#modal-remove-rights');

        function setRights(email, rights) {
            $modalSetRights.find('.email').html(email);
            $modalSetRights.find('.right-modal-text').html(rights !== "" ? rights : "normal user");
            $('#set-rights-email').val(email);
            $('#set-rights-rights').val(rights);
        }

        $('.set-admin-rights-button').click(function(){
            var email = $(this).attr("data-email");
            setRights(email, 'admin')
        });

        $('.remove-admin-rights-button').click(function(){
            var email = $(this).attr("data-email");
            setRights(email, 'teacher')
        });

        $('.set-teacher-rights-button').click(function(){
            var email = $(this).attr("data-email");
            setRights(email, 'teacher')
        });

        $('.remove-all-rights-button').click(function(){
            var email = $(this).attr("data-email");
            setRights(email, "")
        });
    </script>
{% endblock %}