<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

      <form id="reset-password" class="form-signin" method="post">
        <h2 class="form-signin-heading">Reset your password</h2>
        <div id="mismatch" class="alert-danger" {{ "hidden" if alert_hidden else "" }}> The password does not match with the confirmation </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New password" required name="password">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm password" required name="password_confirm">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
      </form>

    </div> <!-- /container -->


</body>
<script>
    $('#reset-password').submit(function(e) {
        if($('#inputPassword').val() !== $('#inputPassword2').val()) {
            $('#mismatch').show();
            return false
        }
    });
</script>
</html>